{% extends 'base_nf.html' %}

{% load static %}

{% block title %}Citas - Dr. MediCare{% endblock %}

{% block content %}

<style>
    .navbar {
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        transition: background-color 0.3s ease;
    }

    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{% static "images/bg_turnos.jpg" %}');
        background-size: cover;
        background-position: center top -650px; /* Focus on the top-center part of the image */
        height: 250px; /* Reduced height for a more compact header */
        overflow: hidden;
    }

    .hero-section h1 {
        margin-bottom: 0.5rem;
    }

    .hero-section p.lead {
        margin-top: 1rem;
    }
</style>

<!-- Hero Section -->
<section class="hero-section d-flex align-items-center justify-content-center text-center text-white">
    <div class="container">
        <h1 class="display-4 fw-bold">Citas Médicas</h1>
        <p class="lead">Consulta tus citas anteriores y reserva nuevas citas fácilmente.</p>
    </div>
</section>

<section class="section">
    <div class="container">
        <h3 class="fw-bold">Próximas Citas</h3>
        {% if appointments %}
            <ul class="list-group">
                {% for appointment in appointments %}
                    <li class="list-group-item">
                        <strong>Inicio:</strong> {{ appointment.start }}<br>
                        <strong>Fin:</strong> {{ appointment.end }}<br>
                        <strong>Paciente:</strong> {{ appointment.patient }}<br>
                        <strong>Email:</strong> {{ appointment.email }}<br>
                        <strong>Teléfono:</strong> {{ appointment.cellphone }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay citas próximas.</p>
        {% endif %}
    </div>
</section>

{% endblock %}